<!DOCTYPE html>
<html lang="fr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business2Student</title>

    <!-- Bootstrap Core CSS -->
    <link href="../web/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../web/css/index.css" rel="stylesheet">
    <link href="../web/css/animate.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../web/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

    <!-- Start WOWSlider.com HEAD section -->
        <link rel="stylesheet" type="text/css" href="../web/slider/engine1/style.css" />
        <script type="text/javascript" src="../web/slider/engine1/jquery.js"></script>
    <!-- End WOWSlider.com HEAD section -->

</head>

<body id="page-top" class="index">

    {% block navbar %}

    {% endblock %}

    {% block body %}

    {% endblock %}

    <!-- jQuery -->
    <script src="../web/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../web/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../web/js/jquery.easing.min.js"></script>
    <script src="../web/js/classie.js"></script>
    <script src="../web/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../web/js/jqBootstrapValidation.js"></script>
    <script src="../web/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../web/js/agency.js"></script>
    <script src="../web/js/logo_animation.js"></script>

</body></html>